.container {
  position: relative;
  background: no-repeat center;
  background-size: cover;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #767676;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20rem;
  }
}