.isLarge {
  .banner {
    margin-bottom: 12rem;
  }

  .advantages {
    margin-bottom: 12rem;
  }
}

.isSmall {
  .banner {
    margin-bottom: 3.2rem;
  }

  .advantages {
    margin-bottom: 3.2rem;
  }
}
