.wrapper {
  position: relative;
  z-index: 1000;
}

.black {

}

.menu {
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: background-color 200ms ease-in;
}

.visible {
  background-color: #2a2a2f!important;
}



.container {
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.5);
}
