.container {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    color: inherit;
    margin-right: 2rem;
  }
}

.wrapper {
  display: block;

  a {

  }
}