.isLarge {
  .main {
    margin-bottom: 6.4rem;
  }

  .tabs {
    margin-bottom: 6.4rem;
  }

  .cards {
    margin-bottom: 12rem;
  }
}

.isSmall {
  .main {
    margin-bottom: 4.8rem;
  }

  .tabs {
    margin-bottom: 3.2rem;
  }

  .cards {
    margin-bottom: 4.8rem;
  }
}