.isLarge {
  position: relative;
  width: 32rem;
  background-color: white;
  border: solid 1px #cdcdcd;
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.20);
  color: black;
  height: 36rem;
  transition: all 100ms ease-in;
  overflow: hidden;

  &:hover {
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.20);

    .icon {
      opacity: 1;
    }
  }

  .img {
    height: 20rem;
    margin-bottom: 2rem;
  }

  .content {
    padding: 0 2rem;
  }

  .title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
  }

  .icon {
    position: absolute;
    bottom: 1.6rem;
    right: 2.4rem;
    opacity: 0;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #E88D06;
    box-shadow: 0px .4rem 2rem rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in;

    &:hover {
      box-shadow: 0px .4rem 2rem rgba(0, 0, 0, 0.50);
    }

    svg {
      color: white;
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}

.isSmall {
  display: block;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  overflow: hidden;

  .img {
    height: 18rem;
    margin-bottom: 2rem;
  }

  .content {
    padding: 0 2rem;
  }

  .title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: .6rem;
  }

  .text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    margin-bottom: 1.4rem;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

}

